@model RoutesManagement.Models.TeamViewModel

@{
	ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<h4>Time</h4>

<div>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Id)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Id)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Name)
		</dd>

		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.People)
		</dt>
		<dd class="col-sm-10">
			@foreach (var person in @Model.People)
			{
				<span>@Html.DisplayFor(people => person.Name),</span>
			}
		</dd>

		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.OperatingCity.Name)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.OperatingCity.Name)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.OperatingCity.State)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.OperatingCity.State)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.IsAvailable)
		</dt>
		<dd class="col-sm-10">
			 @if(@Model.IsAvailable == true){
                    <p>Disponível</p>
                } 
                else
                {
                    <p>Indisponível</p>
                }
		</dd>
	</dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-success">Editar</a>
</div>
<br/>
<div>
    <a asp-action="Index" class="btn btn-light">Voltar</a>
</div>
