@model IEnumerable<RoutesManagement.Models.TeamViewModel>

@{
	ViewData["Title"] = "Times";
}

<h1>Times</h1>

<p>
	<a asp-action="Create" class="btn btn-primary">Novo time</a>
</p>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.People)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.OperatingCity)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IsAvailable)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>

				<td>
					@foreach (var person in @item.People)
					{
						<p>@Html.DisplayFor(people => person.Name)</p>
					}
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.OperatingCity.CityState)
				</td>
				<td>
					@if (item.IsAvailable == true)
					{
						<span>Disponível</span>
					}
					else
					{
						<span>Indisponível</span>
					}
				</td>
				<td>
					<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">Detalhes</a>
					<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-success">Editar</a>
					<a asp-action="Delete" asp-route-id="@item.Id" class="openValidateDelete btn btn-outline-danger" data-id="@item.Id" data-content="@item.Name" data-toggle="modal" data-target="#modalDeletePerson">Deletar</a>
				</td>
			</tr>
		}
	</tbody>
</table>

<div class="modal fade" role="dialog" id="modalDeletePerson">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Deletar</h5>
				<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true"></span>
				</button>
			</div>
			<div class="modal-body">
				<p id="modalText"></p>
			</div>
			<div class="modal-footer">
				<a asp-action="Delete" class="btn btn-outline-danger" id="confirmDelete">Deletar</a>
				<button type="button" class="btn btn-dark" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    @if(TempData["registerError"] != null) {
        <script src="~/js/notifications/registerErrorCreate.js"></script>
    }

    @if(TempData["teamSuccess"] != null){
        <script src="~/js/notifications/teamSuccess.js"></script>
    }

	@if(TempData["teamSuccessEdit"] != null){
        <script src="~/js/notifications/teamSuccessEdit.js"></script>
    }

	@if(TempData["teamRemoved"] != null){
        <script src="~/js/notifications/teamRemoved.js"></script>
    }
}

<script>
	function ValidateCheckboxValue() {
	   var result = document.getElementById('checkStatus').checked;

	   document.getElementById('statusText').innerHTML = result ? 'Disponível' : 'Indisponível';
	}

	$(document).on("click", ".openValidateDelete", function () {
		var personId = $(this).data('id');
		var personName = $(this).data('content');
		$('#modalText').html(`Deseja realmente deletar ${personName}?`);
		$('#confirmDelete').attr('href', "/Teams/Delete/" + personId);
	});

</script>


