@model RoutesManagement.Models.PersonViewModel

@{
	ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
	<h4>Pessoa</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Id)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Id)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Name)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.IsAvailable)
		</dt>
		<dd class="col-sm-10">
			@if (@Model.IsAvailable == true)
			{
				<p>Disponível</p>
			}
			else
			{
				<p>Indisponível</p>
			}
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Team)
		</dt>
		<dd class="col-sm-10">
			@if (@Model.Team == null)
			{
				<p>Sem time</p>
			}
			else
			{
				@Html.DisplayFor(model => model.Team)
			}
		</dd>
	</dl>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-success">Editar</a>
</div>
<br />
<div>
	<a asp-action="Index" class="btn btn-light">Voltar</a>
</div>
