@*@model IEnumerable<RouteManagement.Models.FileViewModel>*@

@model string[]

@{
	ViewData["Title"] = "Rotas";
	int i = 0;
}

<h1>Rotas</h1>

<p>
	@Html.ActionLink("Voltar", "OperatingCity", "Files")
</p>

<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>

			<div class="form-group">
				<label class="control-label"> Times Disponíveis:</label><br />

				@foreach (var team in ViewBag.TeamsAvailable)
				{
					<input name="checkTeams" type="checkbox" value=@team.Id id="teamsAvailable"/>

					<label for="@team.Name"> @team.Name</label>

					<br />
				}

			</div>

			<div class="form-group">
				<label class="control-label">Selecione os dados: </label><br />

				@foreach (var item in ViewBag.Headers)
				{
					<input name="checkData" type="checkbox" value=@i id="dataOptions"/>

					<label for="@item.ToString()"> @item.ToString()</label>

					<br />

					i++;
				}
			</div>

			<div class="form-group">
				<input type="submit" value="Gerar Documento" class="btn btn-primary" onclick="GenerateDocument()"/>
			</div>
		</form>
	</div>
</div>